<h1>Welcome <%= current_user.first_name %>!</h1>

<h2>My Family</h2>

<div>
  Me
  <% @family_members.each do |family_member| %>
    <%= family_member.first_name %>
  <% end %>
</div>



<div><h2>Activity Planner</h2></div>
<div><h2>Budget Planner</h2></div>
<div><h2>Family Calendar</h2></div>
<div><h2>Household Chores</h2></div>
<div><h2><a href="/meals">Meal Planner</a></h2></div>

<a href="/logout">Logout</a>