<!-- Family Start -->
          
<div class="dishes padd">
  <div class="container">
    <!-- Default Heading -->
    <div class="default-heading">
      <!-- Crown image -->
      <img class="img-responsive" src="img/crown.png" alt="" />
      <!-- Heading -->
      <h2>My Family</h2>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6"> 
        <div class="dishes-item-container">

          <!-- Danika -->
          <div class="img-frame">
            <!-- Image -->
            <img src="img/danika.jpg" class="img-responsive" alt="" />
            <!-- Block for on hover effect to image -->
            <div class="img-frame-hover">
              <!-- Hover Icon -->
              <a href="#"><i class="fa fa-cutlery"></i></a>
            </div>
          </div>
          <!-- Dish Details -->
          <div class="dish-details">
            <!-- Heading -->
            <h3><%= current_user.first_name %></h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="dishes-item-container">

                  <!-- Michel -->
                  <div class="img-frame">
                    <!-- Image -->
                    <img src="img/dish/dish6.jpg" class="img-responsive" alt="" />
                    <!-- Block for on hover effect to image -->
                    <div class="img-frame-hover">
                      <!-- Hover Icon -->
                      <a href="#"><i class="fa fa-cutlery"></i></a>
                    </div>
                  </div>
                  <!-- Dish Details -->
                  <div class="dish-details">
                    <!-- Heading -->
                    <h3><%= @family_members[0].first_name %></h3>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="dishes-item-container">

                  <!-- Michael -->
                  <div class="img-frame">
                    <!-- Image -->
                    <img src="img/dish/dish7.jpg" class="img-responsive" alt="" />
                    <!-- Block for on hover effect to image -->
                    <div class="img-frame-hover">
                      <!-- Hover Icon -->
                      <a href="#"><i class="fa fa-cutlery"></i></a>
                    </div>
                  </div>
                  <!-- Dish Details -->
                  <div class="dish-details">
                    <!-- Heading -->
                    <h3><%= @family_members[1].first_name %></h3>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="dishes-item-container">

                  <!-- Matthew -->
                  <div class="img-frame">
                    <!-- Image -->
                    <img src="img/dish/dish8.jpg" class="img-responsive" alt="" />
                    <!-- Block for on hover effect to image -->
                    <div class="img-frame-hover">
                      <!-- Hover Icon -->
                      <a href="#"><i class="fa fa-cutlery"></i></a>
                    </div>
                  </div>
                  <!-- Dish Details -->
                  <div class="dish-details">
                    <!-- Heading -->
                    <h3><%= @family_members[2].first_name %></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
        
<!-- Family End -->

<!-- Categories Start -->
        
        <div class="menu padd">
          <div class="container">
            <!-- Default Heading -->
            <div class="default-heading">
              <!-- Crown image -->
              <img class="img-responsive" src="/img/crown.png" alt="" />
              <!-- Heading -->
              <h2>Let's get organized!</h2>
            </div>

<!-- Menu content container -->
            <div class="menu-container">
              <div class="row">

                <div class="col-md-4 col-sm-4">
                  <!-- Menu header -->
                  <div class="menu-head">
                  <a href="/activities">
                    <!-- Image for menu item -->
                    <img class="menu-img img-responsive img-thumbnail" src="/img/menu/menu1.jpg" alt="" />
                    <!-- Menu title / Heading -->
                    <h3>Activities</h3>
                    <!-- Border for above heading -->
                    <div class="title-border br-red"></div>
                  </a>
                  </div>
                </div>
                

                
                <div class="col-md-4 col-sm-4">
                  <!-- Menu header -->
                  <div class="menu-head">
                  <a href="/budget">
                    <!-- Image for menu item -->
                    <img class="menu-img img-responsive img-thumbnail" src="/img/menu/menu2.jpg" alt="" />
                    <!-- Menu title / Heading -->
                    <h3>Budget</h3>
                    <!-- Border for above heading -->
                    <div class="title-border br-yellow"></div>
                    </a>
                  </div>
                </div>
                

                
                <div class="col-md-4 col-sm-4">
                  <!-- Menu header -->
                  <div class="menu-head">
                  <a href="/calendar">
                    <!-- Image for menu item -->
                    <img class="menu-img img-responsive img-thumbnail" src="/img/menu/menu3.jpg" alt="" />
                    <!-- Menu title / Heading -->
                    <h3>Calendar</h3>
                    <!-- Border for above heading -->
                    <div class="title-border br-green"></div>
                    </a>
                  </div>
                </div>
                

                
                <div class="col-md-4 col-sm-4">
                  <!-- Menu header -->
                  <div class="menu-head">
                  <a href="/chores">
                    <!-- Image for menu item -->
                    <img class="menu-img img-responsive img-thumbnail" src="/img/menu/menu1.jpg" alt="" />
                    <!-- Menu title / Heading -->
                    <h3>Chores</h3>
                    <!-- Border for above heading -->
                    <div class="title-border br-lblue"></div>
                    </a>
                  </div>
                </div>
                
                <div class="col-md-4 col-sm-4">
                  <!-- Menu header -->
                  <div class="menu-head">
                  <a href="/meals">
                    <!-- Image for menu item -->
                    <img class="menu-img img-responsive img-thumbnail" src="/img/menu/menu3.jpg" alt="" />
                    <!-- Menu title / Heading -->
                    <h3>Meals</h3>
                    <!-- Border for above heading -->
                    <div class="title-border br-lblue"></div>
                    </a>
                  </div>
                </div>
                

              </div>
            </div> <!-- /Menu container end -->
          </div>
        </div>
<!-- Categories End -->