<h1>Welcome to The Busy Mom App!</h1>

<h3><a href="/users/new">Register</a> | <a href="/login">Log In</a></h3>

<h2>Start organizing your life in one place!</h2>

<div>
  <h2>Activity Planner</h2>
</div>

<div>
  <h2>Budget Planner</h2>
  <%= image_tag("budget_planner.jpg") %>
</div>

<div>
  <h2>Family Calendar</h2>
</div>

<div>
  <h2>Household Chores</h2>
  <%= image_tag("household_chores.jpg") %>
</div>

<div>
  <h2>Meal Planner</h2>
  <%= image_tag("meal_planner.jpg") %>
</div>
