<h1>Welcome to The Busy Mom App!</h1>

<h3><a href="/users/new">Register</a> | <a href="/login">Log In</a></h3>

<h2>Start organizing your life in one place!</h2>

<div><h2>Budget</h2></div>
<div><h2>Calendar</h2></div>
<div><h2>Chores</h2></div>
<div><h2>Meal Planner</h2></div>