<h1>My Weekly Meal Planner</h1>

Add Recipies | View Recipes | Assign Recipes

<% @days.each do |day| %>
  <h2><a href="/meals/<%= day.id %>"><%= day.name %></a></h2>
  <% @categories.each do |category| %>
    <h3><%= category.name %></h3>
    <% day.day_recipes.each do |day_recipe| %>
      <% if day_recipe.category == category %>
        <p><%= day_recipe.recipe.name %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>